.Teams {
  display: grid;
  grid-template-columns: 240px auto;
  height: 100%;
  overflow: hidden;

  &__BreadcrumbMenu {
    display: none;
  }

  &__left-menu {
    grid-column: 1 / span 1;
  }

  &__right-list {
    grid-column: 2 / span 1;
    overflow-y: auto;
    padding: 12px 0 48px;
  }

  &__team-details {
    overflow-y: auto;
    padding: 12px 0 48px;
  }

  &__tab__option {
    display: inline-block;
    background: transparent;
    margin: 0px 40px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 0px;
  }

  &__tab__option:hover {
    background: transparent;
  }

  &__tab__option--active {
    border-bottom: 2px black solid;
  }

  &__top-bar {
    margin: 0px 0px 20px 40px;
    border-bottom: 1px solid #e3e8ee;
    width: 90%;
  }

  &__team-heading {
    font-family: var(--font-family-inter-light);
    font-size: 36px;
    line-height: 1.25;
  }

  &__team-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 12px;
    padding: 0 36px;
  }

  @media (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) auto;

    &__BreadcrumbMenu {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      display: block;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &__left-menu {
      display: none;
    }

    &__right-list {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    &__team-list {
      grid-template-columns: auto;
    }
  }

  @media (max-width: 768px) {
    &__team-heading {
      margin: 16px 42px 36px;
    }
  }
}
